html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #F4F7F5;
}

.navbar, .card-header, .btn {
  background-color: #A7A2A9; /* Darker neutral color */
  color: #ECF0F1; /* Light text color */
}

.card {
  border: none;
  box-shadow: none; /* Remove shadow */
  margin-bottom: 1.5rem; /* Add vertical space */
}

.form-group label, .table th, .table td {
  padding: 0.5rem 0.75rem;
}

body, input, button, select {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, .card-title {
  font-weight: 600; /* Slightly bolder headings */
}

.btn {
  border: none;
  background-color: #A7A2A9; /* Consistent accent color */
  color: #FFFFFF;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.btn:hover {
  background-color: #575A5E; /* Darken on hover */
}

.container, .card-body, .card-header, .footer {
  padding: 2rem; /* Increase padding */
}

.navbar-nav, .form-group, .table th, .table td {
  text-align: center;
}

.navbar {
  background-color: #34495E; /* Neutral dark background */
  border: none; /* Remove border */
}

.navbar-brand, .navbar-nav .nav-link {
  color: #ECF0F1;
}

.btn, .card {
  transition: background-color 0.3s, color 0.3s;
}


.input-validation-error {
  border-color: red !important; /* Bordo rosso per evidenziare gli errori */
}

/* Cambia il colore del messaggio di errore */
.field-validation-error {
  color: red; /* Colore rosso per i messaggi di errore */
}

/* Cambia il colore del bordo degli input validi */
.input-validation-valid {
  border-color: green !important; /* Bordo verde per evidenziare i campi validi */
}

/* Cambia il colore del messaggio di successo */
.field-validation-valid {
  color: green;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Imposta lo sfondo bianco per sovrascrivere l'azzurro */
  -webkit-text-fill-color: black !important; /* Imposta il colore del testo */
}

/* Rimuove lo sfondo azzurro per altri browser che usano il motore Blink (Chrome, Edge) */
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: black !important;
}