@page
@model AggiungiProdottoModel
@{
    ViewData["Title"] = "Aggiungi Prodotto";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-dark text-white">
            <h1 class="card-title">@ViewData["Title"]</h1>
        </div>
        <div class="card-body">
            <form method="post">
                <div class="form-group mb-3">
                    <label asp-for="Prodotto.Nome">Nome</label>
                    <input asp-for="Prodotto.Nome" class="form-control" />
                    <span asp-validation-for="Prodotto.Nome" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Prodotto.Prezzo">Prezzo</label>
                    <input asp-for="Prodotto.Prezzo" class="form-control" />
                    <span asp-validation-for="Prodotto.Prezzo" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Prodotto.Dettaglio">Dettaglio</label>
                    <input asp-for="Prodotto.Dettaglio" class="form-control" />
                    <span asp-validation-for="Prodotto.Dettaglio" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Prodotto.Immagine">Immagine</label>
                    <input asp-for="Prodotto.Immagine" class="form-control" />
                    <span asp-validation-for="Prodotto.Immagine" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Prodotto.Quantita">Quantita</label>
                    <input asp-for="Prodotto.Quantita" class="form-control" />
                    <span asp-validation-for="Prodotto.Quantita" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Prodotto.Categoria" class="control-label">Categoria</label>
                    <select asp-for="Prodotto.Categoria" class="form-control" asp-items="@(new SelectList(Model.Categorie))">
                        <option value="">Seleziona Categoria</option>
                    </select>
                    <span asp-validation-for="Prodotto.Categoria" class="text-danger"></span>
                </div>
                <div class="form-group mb-3 mt-3">
                    <label asp-for="Codice">
                        <input asp-for="Codice" class="form-control" placeholder="Inserisci codice segreto" />
                        <span asp-validation-for="Codice" class="text-danger"></span>
                    </label>
                </div>
                <button type="submit" class="btn btn-success">Aggiungi</button>
            </form>
            @section Scripts {
                <partial name="_ValidationScriptsPartial"></partial>
            }
        </div>
    </div>
</div>
