@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">

    @* Add the "Aggiungi Prodotto" and "Rimuovi Ruolo Admin" links if the user is in the Admin role *@
    @if (User.Identity != null) // Check if the User is authenticated
    {
        var currentUser = await UserManager.GetUserAsync(User); // Get the current user
        if (currentUser != null && await UserManager.IsInRoleAsync(currentUser, "Admin")) // Check for null and Admin role
        {
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create", "Prodotti")">
                    Aggiungi Prodotto
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="RemoveFromRoleAdmin">
                    Rimuovi Ruolo Admin
                </a>
            </li>
        }
    }
</ul>
